<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studentlist2022">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentList2022"
        tools:targetApi="31">
        <activity
            android:name=".MM_RiskyWorldAccounting"
            android:exported="false"
            android:label="@string/MM_appTitle_bar"
            android:theme="@style/MarlonMillerCustomTheme">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MarlonMillerActivity" />
        </activity>
        <activity
            android:name=".MarlonMillerActivity"
            android:exported="false"
            android:label="@string/MM_title_bar"
            android:theme="@style/MarlonMillerCustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AppIdea2AGM"
            android:exported="false"
            android:label="Anthony Moncivais"
            android:theme="@style/AnthonyMoncivaisCustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnthonyActivity" />
        </activity>
        <activity
            android:name=".AppIdeaAGM"
            android:exported="false"
            android:label="LvlUp App Idea"
            android:theme="@style/AnthonyMoncivaisCustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnthonyActivity" />
        </activity>
        <activity
            android:name=".ACD_AppSuggestion_Details_Page"
            android:exported="false"
            android:parentActivityName=".AlissaDavisActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AlissaDavisActivity"
            android:exported="false"
            android:theme="@style/AlissaDavisCustomTheme"
            android:label="Alissa's App Recommendations"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SingleListItemNCM"
            android:exported="false" />
        <activity
            android:name=".AppIdeaActivity"
            android:exported="false"
            android:label="@string/ncm_app_title"
            android:theme="@style/NCMTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NCMActivity" />
        </activity>
        <activity
            android:name=".NCMActivity"
            android:exported="false"
            android:label="@string/ncm_title_bar"
            android:theme="@style/NCMTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".specialapp_blk"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BaileyKCustomTheme">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            android:exported="false" />
        </activity>
        <activity
            android:name=".AppIdeaActivity_blk"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BaileyKCustomTheme">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            android:exported="false" />
        </activity>
        <activity
            android:name=".ProfTannerActivity"
            android:exported="false"
            android:label="@string/rwt_title_bar"
            android:theme="@style/ProfTannerCustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AnthonyActivity"
            android:exported="false"
            android:label="Anthony Moncivais"
            android:theme="@style/AnthonyMoncivaisCustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".SingleListItem"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>